<div class="body">
  <div class="toolbar">
    <button id="button1" onclick="">Negative</button>
    <button id="button2">Button 2</button>
    <button id="button3">Button 3</button>

  </div>
  <div class="pictureArea">
    <canvas id="myCanvas"></canvas>
  </div>
</div>
