<div class="body">
  <div class="toolbar">
    <a class="waves-effect waves-light btn" id="btn-grayscale">grayscale</a>
    <a class="waves-effect waves-light btn" id="btn-backup">restore</a>


  </div>
  <div class="pictureArea">
    <canvas id="myCanvas"></canvas>
  </div>
</div>
